html, body {

    height: 100%;
    width: 100%;

    top: 0;
    left: 0;

    margin: 0;
    padding: 0;

}

button { 

    font-family: Comfortaa;

    cursor: pointer;

}

.main-wrapper {

    height: 100%;
    width: 100%;

    backdrop-filter: blur(50px) saturate(180%);
    -webkit-backdrop-filter: blur(50px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.35);

    z-index: 1;

}


.content {

    position: relative;

    top: 160px;

    width: 100%;

    .text {

        position: relative;
        left: 8%;

        width: 40%;
        
        border: 1px solid transparent;
        
        color: #000;

        float: left;

        h1 {

            font-size: 50px;

        }

        h2 {

            margin-top: 60px;

        }

        button {

            margin-top: 50px;

            background: none;

            border: 2px solid black;
            border-radius: 50px;

            width: 200px;
            height: 50px;


        }

    }

    .pic {

        position: relative;
        left: 10%;
        bottom: 450px;

        width: 60%;
        
        float: right;

        img {

            margin: 0;
            padding: 0;

        }

    }

}

@media screen and (max-width: 1500px){

    img {

        scale: 0.8;

    }

}