@charset "UTF-8";
/* line 1, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

/* line 11, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
[contenteditable]:focus {
  outline: none; }

/* line 17, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: grey;
  font-style: italic; }

/* line 36, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
.notepad {
  position: relative;
  left: 2.5%;
  top: 100px;
  height: 80%;
  width: 95%;
  border: 1px solid black;
  border-radius: 50px; }
  /* line 50, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
  .notepad .nav {
    width: 300px;
    height: 100%;
    border-right: 1px solid black;
    border-radius: 50px;
    float: left; }
    /* line 60, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
    .notepad .nav .notepads {
      position: relative;
      top: 20px;
      left: 10%;
      width: 80%;
      max-height: calc(100% - 40px);
      border: 1px solid black;
      border-radius: 30px;
      overflow: auto; }
      /* line 74, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
      .notepad .nav .notepads .active-notepad {
        height: 60px;
        display: flex;
        align-items: center; }
        /* line 81, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
        .notepad .nav .notepads .active-notepad p {
          width: 60%;
          float: left;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        /* line 91, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
        .notepad .nav .notepads .active-notepad .buttons {
          display: flex;
          align-content: center;
          align-items: center;
          height: 100%;
          margin-left: 10px; }
          /* line 100, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
          .notepad .nav .notepads .active-notepad .buttons button {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border: none;
            border-radius: 50px;
            cursor: pointer; }
      /* line 117, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
      .notepad .nav .notepads .notepad-dropdown {
        display: none; }
        /* line 121, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
        .notepad .nav .notepads .notepad-dropdown #create-notepad-init {
          position: relative;
          top: 20px;
          left: 10%;
          width: 80%;
          height: 35px;
          border: none;
          border-radius: 40px;
          cursor: pointer;
          font-size: 25px;
          font-weight: bold;
          font-family: Comfortaa; }
        /* line 141, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
        .notepad .nav .notepads .notepad-dropdown .other-notepads {
          position: relative;
          top: 50px; }
          /* line 146, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
          .notepad .nav .notepads .notepad-dropdown .other-notepads .other-notepad {
            position: relative;
            left: 7.5%;
            width: 85%;
            height: 45px;
            margin-bottom: 20px;
            border: 1px solid blue;
            border-radius: 50px;
            cursor: pointer; }
            /* line 161, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
            .notepad .nav .notepads .notepad-dropdown .other-notepads .other-notepad p {
              margin-left: 50px;
              overflow: hidden; }
  /* line 179, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
  .notepad .active-note {
    height: 100%;
    width: calc(100% - 301px);
    background: black;
    border-radius: 50px;
    float: right; }
    /* line 187, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
    .notepad .active-note .toolbar {
      position: relative;
      top: 20px;
      left: 9%;
      height: 65px;
      width: 82%;
      background: blue; }
    /* line 201, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
    .notepad .active-note .note {
      position: relative;
      top: 20px;
      left: 5%;
      height: 80%;
      width: 90%;
      border-radius: 50px;
      background: #fff; }
      /* line 214, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
      .notepad .active-note .note .contents {
        position: relative;
        left: 5%;
        top: 6%;
        width: 90%;
        height: 90%;
        border-radius: 50px;
        background: black; }
        /* line 226, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
        .notepad .active-note .note .contents .active-note-title {
          margin-bottom: 20px; }
        /* line 232, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
        .notepad .active-note .note .contents .active-note-content {
          cursor: text; }
  /* line 245, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
  .notepad .add-note-btn {
    position: relative;
    top: 40px;
    left: 17.5%;
    width: 65%;
    height: 35px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    font-family: Comfortaa; }
  /* line 266, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
  .notepad .notes {
    position: relative;
    left: 7.5%;
    top: 60px;
    border: 1px solid yellow;
    width: 85%;
    max-height: 70%;
    overflow: auto; }
    /* line 279, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
    .notepad .notes .note {
      position: relative;
      width: 99.4%;
      margin-bottom: 20px;
      border: 1px solid red;
      border-radius: 50px;
      cursor: pointer; }
      /* line 292, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
      .notepad .notes .note p {
        position: relative;
        left: 0;
        margin-left: 22px; }

/* line 306, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
.no-notepads-wrapper {
  position: relative;
  margin: 0;
  width: 400px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 322, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
  .no-notepads-wrapper div {
    text-align: center; }

/* Pop-ups */
/* line 333, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }

/* line 353, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
.notepad-form-wrapper {
  display: none; }
  /* line 357, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/home.scss */
  .notepad-form-wrapper .notepad-title-error {
    display: none; }
