/* line 1, static/scss/base/landing.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 8, static/scss/base/landing.scss */
.main-wrapper {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1; }
