@charset "UTF-8";
/* line 1, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
html, body {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0; }

/* line 18, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
button {
  font-family: Comfortaa;
  cursor: pointer; }

/* line 26, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
.main-wrapper {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(50px) saturate(180%);
  -webkit-backdrop-filter: blur(50px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.35);
  z-index: 1; }

/* line 40, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
.top-nav {
  position: relative; }
  /* line 44, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  .top-nav .logo {
    position: relative;
    left: 20px;
    top: 20px;
    width: 60%;
    cursor: pointer;
    float: left; }
    /* line 56, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
    .top-nav .logo h1 {
      margin: 0;
      color: #000; }
  /* line 66, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  .top-nav .buttons {
    position: relative;
    top: 12px;
    width: 40%;
    float: right; }
    /* line 75, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
    .top-nav .buttons .login-btn {
      position: absolute;
      right: 50px;
      padding: 15px;
      font-size: 17px;
      background-color: transparent;
      border: 1px solid blue;
      border-radius: 10px; }

/* line 97, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
.content {
  position: relative;
  top: 160px;
  width: 100%; }
  /* line 105, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  .content .text {
    position: relative;
    left: 8%;
    width: 40%;
    border: 1px solid transparent;
    color: #000;
    float: left; }
    /* line 118, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
    .content .text h1 {
      font-size: 50px; }
    /* line 124, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
    .content .text h2 {
      margin-top: 60px; }
    /* line 130, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
    .content .text button {
      margin-top: 50px;
      background: none;
      border-radius: 50px;
      width: 200px;
      height: 50px; }
  /* line 146, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  .content .pic {
    position: relative;
    left: 10%;
    bottom: 450px;
    width: 60%;
    float: right; }

/* line 161, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
.bottom-nav {
  position: relative;
  bottom: 80px;
  left: 10%;
  height: 50px;
  width: 80%; }
  /* line 170, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  .bottom-nav h1 {
    font-weight: normal;
    font-size: 16px;
    margin: 0 100px 0 0;
    float: left; }
  /* line 182, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  .bottom-nav div {
    text-align: center;
    width: 100%; }
  /* line 189, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  .bottom-nav a {
    text-decoration: none;
    margin-right: 20px; }

@media screen and (max-width: 1500px) {
  /* line 200, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/landing.scss */
  img {
    scale: 0.8; } }
