/* line 1, static/scss/base/landing.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 8, static/scss/base/landing.scss */
.main-wrapper {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1; }

/* line 29, static/scss/base/landing.scss */
.top-nav .logo {
  width: 60%;
  float: left; }

/* line 36, static/scss/base/landing.scss */
.top-nav .buttons {
  position: relative;
  right: 0;
  width: 40%;
  float: right; }
  /* line 46, static/scss/base/landing.scss */
  .top-nav .buttons button {
    font-family: Comfortaa;
    cursor: pointer; }
  /* line 54, static/scss/base/landing.scss */
  .top-nav .buttons .login-btn {
    position: relative;
    right: 0;
    padding: 10px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid blue;
    border-radius: 50px; }
