@charset "UTF-8";
/* line 3, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/pop-ups.scss */
.create-notepad-form {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.7;
  z-index: 10;
  /*     display: none; */ }
  /* line 20, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/pop-ups.scss */
  .create-notepad-form .create-notepad-form-wrapper {
    position: relative;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 300px;
    padding: 20px;
    background: blue;
    opacity: 1;
    border-radius: 50px; }
    /* line 36, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/pop-ups.scss */
    .create-notepad-form .create-notepad-form-wrapper .create-notepad-title-error {
      display: none; }

/* line 48, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/pop-ups.scss */
.edit-notepad-form {
  display: none; }
  /* line 52, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/pop-ups.scss */
  .edit-notepad-form .edit-notepad-title-error {
    display: none; }

/* line 60, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/pop-ups.scss */
.move-notepad-form {
  display: none;
  z-index: 10;
  border: 1px solid pink;
  border-radius: 50px; }
  /* line 72, c:/users/следователь/documents/bl0kn0tik/web/static/scss/app/pop-ups.scss */
  .move-notepad-form .notepad-option {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: white; }
