@charset "UTF-8";
/* line 3, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
.form {
  height: 500px;
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  border-radius: 50px;
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff; }
  /* line 29, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
  .form .logo h1 {
    text-align: center; }
  /* line 39, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
  .form .fields div {
    position: relative;
    top: 70px;
    margin-bottom: 20px;
    text-align: center; }
    /* line 50, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
    .form .fields div input {
      width: 250px;
      height: 45px;
      border-radius: 30px;
      box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
      padding-left: 40px;
      font-family: Comfortaa;
      font-weight: bold;
      font-size: 19px; }
  /* line 72, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
  .form button {
    position: absolute;
    left: 50px;
    bottom: 35px;
    width: 300px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid black;
    background: none;
    font-weight: bold;
    font-family: Comfortaa;
    font-size: 18px;
    cursor: pointer; }

/* line 96, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
.copyright {
  position: absolute;
  right: 20px;
  bottom: 20px; }

@property --x0 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes x0 {
  0% {
    --x0: 25% ; }
  100% {
    --x0: 75% ; } }

@property --y0 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes y0 {
  0% {
    --y0: 25% ; }
  100% {
    --y0: 75% ; } }

@property --x1 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes x1 {
  0% {
    --x1: 25% ; }
  100% {
    --x1: 75% ; } }

@property --y1 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes y1 {
  0% {
    --y1: 25% ; }
  100% {
    --y1: 75% ; } }

@property --x2 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes x2 {
  0% {
    --x2: 25% ; }
  100% {
    --x2: 75% ; } }

@property --y2 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes y2 {
  0% {
    --y2: 25% ; }
  100% {
    --y2: 75% ; } }

@property --x3 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes x3 {
  0% {
    --x3: 25% ; }
  100% {
    --x3: 75% ; } }

@property --y3 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes y3 {
  0% {
    --y3: 25% ; }
  100% {
    --y3: 75% ; } }

@property --x4 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes x4 {
  0% {
    --x4: 25% ; }
  100% {
    --x4: 75% ; } }

@property --y4 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes y4 {
  0% {
    --y4: 25% ; }
  100% {
    --y4: 75% ; } }

@property --x5 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes x5 {
  0% {
    --x5: 25% ; }
  100% {
    --x5: 75% ; } }

@property --y5 {
  syntax: '<length-percentage>';
  initial-value: 0%;
  inherits: false; }

@keyframes y5 {
  0% {
    --y5: 25% ; }
  100% {
    --y5: 75% ; } }

/* line 142, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
html {
  height: 100%;
  background: radial-gradient(circle at var(--x0, 59%) var(--y0, 31%), #f94144, transparent 35%), radial-gradient(circle at var(--x1, 19%) var(--y1, 1%), #f3722c, transparent 35%), radial-gradient(circle at var(--x2, 68%) var(--y2, 37%), #f8961e, transparent 35%), radial-gradient(circle at var(--x3, 11%) var(--y3, 24%), #90be6d, transparent 35%), radial-gradient(circle at var(--x4, 91%) var(--y4, 42%), #43aa8b, transparent 35%), radial-gradient(circle at var(--x5, 49%) var(--y5, 44%), #577590, transparent 35%) #f9c74f;
  background-position: 50%;
  animation: x0 2.5s -0.975s alternate-reverse, y0 2.5s -2.225s alternate-reverse, x1 5.5s -0.66s alternate-reverse, y1 5.5s -3.41s alternate, x2 5.5s -0.33s alternate, y2 5.5s -3.08s alternate, x3 5.5s -0.88s alternate-reverse, y3 5.5s -3.63s alternate-reverse, x4 5.5s -1.32s alternate, y4 5.5s -4.07s alternate-reverse, x5 2.5s -1.875s alternate, y5 2.5s -3.125s alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }
