@charset "UTF-8";
/* line 3, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
.form {
  height: 500px;
  width: 400px;
  border: 1px solid black;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center; }
  /* line 23, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
  .form .logo h1 {
    text-align: center; }
  /* line 33, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
  .form .fields div {
    position: relative;
    top: 70px;
    text-align: center;
    margin-bottom: 20px; }
    /* line 40, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
    .form .fields div input {
      width: 250px;
      height: 35px;
      border-radius: 20px;
      padding-left: 40px;
      font-family: Comfortaa;
      font-size: 17px; }
  /* line 58, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
  .form button {
    bottom: 20px; }

/* line 66, c:/users/следователь/documents/bl0kn0tik/web/static/scss/user/register.scss */
.copyright {
  position: absolute;
  right: 20px;
  bottom: 20px; }
