@charset "UTF-8";
/* line 1, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/terms.scss */
.side-nav {
  position: relative;
  top: 100px;
  left: 5%;
  width: 300px;
  border-radius: 50px;
  background: #fff;
  float: left; }
  /* line 15, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/terms.scss */
  .side-nav div {
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: 1px solid pink;
    cursor: pointer; }
    /* line 30, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/terms.scss */
    .side-nav div h4 {
      padding-left: 10px;
      font-size: 18px; }

/* line 41, c:/users/следователь/documents/bl0kn0tik/web/static/scss/base/terms.scss */
.main-wrapper {
  position: relative;
  left: 0;
  top: 100px;
  width: calc(100% - 300px);
  padding: 20px;
  float: right;
  border-radius: 50px;
  background: #fff; }
